body {
  font-family: Arial, sans-serif;
  margin: 0;
  background: #7a7abd;
  color: #333;
}

header {
  background: #222;
  color: #fff;
  padding: 15px;
  text-align: center;
}

header h1 {
  margin: 0;
  padding-bottom: 10px;
}

.search-box {
  display:flex;
  justify-content: center;
  align-items :center;
  gap:10px;
  margin-bottom: 10px;
}

.search.box input {
  display:flex;
  justify-content: center;
  align-items:center

}

#newsContainer {
  padding: 8px;
  max-width: 900px;
  margin: auto;
  border: none;
  border-radius: 5px;
  font-size: 16px;
}

.search-box button {
  background: #fff;
  padding: 15px;
  margin-bottom: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

